 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a Rails web developer living in Ottawa and mentoring students through Bloc. I have a wife and two kids. I love solving coding problems, making inviting and usable interfaces, and working hidden truths out of data. </p>
                </div>
                <div class="col-lg-4">
                    <p>My mission in life is to help people make better decisions by making things simple, clear and beautiful. The most effective way I've found to do this is by making amazing apps and contributing to the open source community. </p>
                </div>
             <!--    <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>